{% extends "base.html" %}
{% load i18n %}

{% block main %}
<div class="row">
    <div class="col-12">
        <h2 >{% trans 'Reset your password' %}</h2>
    </div>
</div>
<div class="row">
    <div class="card-body">
        <div class="alert alert-primary" role="alert">
        <h2>{% trans "We've emailed you instructions for setting your password." %}</h2>
        <h2>{% trans "If you don't receive an email, please make sure you've entered the address you registered with." %}</h2>
        </div>
    </div>
</div>
{% endblock %}